@font-face {
    font-family: 'NeueHaasGrotesk';
    src: url(NeueHaasGrotesk.otf);
    font-size: 5vw;
}  
a{
    text-decoration:none;
    color: #363795;
    font-family: 'NeueHaasGrotesk';
    font-weight: bold;
}
nav{
    display: flex;
    justify-content: flex-end;
    margin: auto;
    margin-bottom: 5vw;
}
.logo{
    display: inline;
    width: 10%;
    padding: 2vw;
}
#flex-container{
    display: inline-flex;

}
#work{
    display: inline-flex;
    margin-top: 1vw;
    margin-right: 1vw;

}
#insta{
    width: 70%;
    margin-right: -15vw;
    
}
#email{
    width: 28%;
    margin-top: .15vw;
margin-right: -7vw;
   
}


#video{
    margin-left: 2vw;
    width: 72%;
}

#history{
    width: 25%;
}
#principlesharlem{
 display: inline-flex;
 margin:2vw;
 padding:1vw;
}
#principles{
margin-left: -2vw;
    width: 60%;
}
#harlem{
    width:45%;
    margin-right:3vw;
    padding:1vw;
    
}
#icon{
    display: flex;
    margin: 2vw;
    width: 95%;
}
#icons{
    width: 70%;
    margin: auto;
    display: flex;
}

#socials{
    width: 103%;

    display: flex;
    margin-top: 4vw;
    margin-left:-1vw;
}
#brand{
    display: flex;
    margin: 1vw;
    width: 95%;
}

#applications{
    width: 101.5%;
    margin-left: -.5vw;
    display: flex;
}

p{
    text-decoration:none;
    color: #363795;
    font-family: 'NeueHaasGrotesk';
    
}
@media only screen and (max-width: 1080px){
    .logo{
       width: 50%;
    }
}

#bio{

    font-size: 1.25vw;
}


h2{
    font-family: 'NeueHaasGrotesk';
    text-decoration:none;
    color: #363795;
    margin-left: 7vw;
}

footer{
    margin: 3vw;
    text-align: center;
    font-size: 1vw;
    display: flex;
    margin-top: 10avw;
   
}
#copyright{
    margin-top: 4vw;
    margin-left: 10vw;

}
#logofooter{
 width: 10%;
    margin-right: 20vw;
}
#contactfooter{
    justify-content: flex-end;
    margin-left: 20vw;
    margin-right: -10vw;
    margin-top: 3vw;
}
#instafooter{
    width: 10%;
}
#emailfooter{

    width: 10%;
 
   
}
@media only screen and (max-width: 1080px){
    footer{
        font-size: 2.25vw;
        margin-bottom: 3vw;
    }
}