@font-face {
    font-family: 'NeueHaasGrotesk';
    src: url(NeueHaasGrotesk.otf);
    font-size: 5vw;
}  
a{
    text-decoration:none;
    color: #363795;
    font-family: 'NeueHaasGrotesk';
    font-weight: bold;
}
#flex-container{
    display: flex;
    padding-right: 5vw;
}
.nav{
    display: inline-flex;
    margin: auto;
}
.logo{
    display: inline;
    width: 30%;
}
#flex-container1{
margin-left: 4vw;
margin-top: 4vw;
}
#covers{
    display: flex;
}
#cover1{
    width:45%;
}
#cover2{
    width:45%;
}
#insta{
    width: 40%;
    
}
#email{
    
    width: 30%;
   
}
p{
    text-decoration:none;
    color: #363795;
    font-family: 'NeueHaasGrotesk';
    font-size: 1.25vw;
    
}
@media only screen and (max-width: 1080px)
    .logo{
       width: 50%;
    }

hr{
    color: #363795;
    margin-bottom: 2vw;
    margin-left: 0px;
}
#video{
    width: 30%;
    margin-left: 4vw;
    margin-right: 5vw;
}
#collage{
    width:23%;
}

h2{
    font-family: 'NeueHaasGrotesk';
    text-decoration:none;
    color: #363795;
    margin-left: 5vw;
    font-size: xx-large;

}
footer{
    text-align: center;
    color: #363795;
    font-size: 1vw;
    margin-top: 10vw;
}
@media only screen and (max-width: 1080px){
    footer{
        font-size: 2.25vw;
        margin-bottom: 3vw;
    }
}