@font-face {
    font-family: 'NeueHaasGrotesk';
    src: url(NeueHaasGrotesk.otf);
    font-size: 5vw;
}  
a{
    text-decoration:none;
    color: #363795;
    font-family: 'NeueHaasGrotesk';
    font-weight: bold;
}
nav{
    display: flex;
    justify-content: flex-end;
    margin: auto;
    margin-bottom: 5vw;
}
.logo{
    display: inline;
    width: 10%;
    padding: 2vw;
}
#flex-container{
    display: inline-flex;

}
#work{
    display: inline-flex;
    margin-top: 1vw;
    margin-right: 1vw;

}
#insta{
    width: 70%;
    margin-right: -15vw;
    
}
#email{
    width: 28%;
    margin-top: .15vw;
margin-right: -7vw;
   
}
#flex-container1{
    display: flex;

}
p{
    text-decoration:none;
    color: #363795;
    font-family: 'NeueHaasGrotesk';
    
}
@media only screen and (max-width: 1080px)
    .logo{
       width: 50%;
    }




#text{
    text-align: center;
    margin: 7.2vw;
    font-size: large;
}

h2{
    font-family: 'NeueHaasGrotesk';
    text-decoration:none;
    color: #363795;
    margin-left: 5vw;
    font-size: xx-large;

}

#pic11{
    width: 60%;
    margin: 2vw;
    margin-left: 7vw;
    
}
#pic21{
    width: 20%;
    margin: 2vw;
}
#pic19{
    width: 40%;
    margin: 2vw;
    margin-left: 7vw;
}
#pic22{
    width: 40%;
    margin: 2vw
}
#pic31{
    width: 28%;
    margin: 2vw;
    margin-left: 7vw;
}
#pic10{
    width: 51%;
    margin: 2vw;
}
footer{
    margin: 3vw;
    text-align: center;
    font-size: 1vw;
    display: flex;
    margin-top: 10avw;
   
}
#copyright{
    margin-top: 4vw;
    margin-left: 10vw;

}
#logofooter{
 width: 10%;
    margin-right: 20vw;
}
#contactfooter{
    justify-content: flex-end;
    margin-left: 20vw;
    margin-right: -10vw;
    margin-top: 3vw;
}
#instafooter{
    width: 10%;
}
#emailfooter{

    width: 10%;
 
   
}
@media only screen and (max-width: 1080px){
    footer{
        font-size: 2.25vw;
        margin-bottom: 3vw;
    }
}