@font-face {
    font-family: 'NeueHaasGrotesk';
    src: url(NeueHaasGrotesk.otf);
    font-size: 5vw;
}  
a{
    text-decoration:none;
    color: #363795;
    font-family: 'NeueHaasGrotesk';
    font-weight: bold;
}
nav{
    display: inline-flex;
    margin: auto;
}
.logo{
    display: inline;
    width: 30%;
}
#flex-container{
    display: inline-flex;

}
#insta{
    width: 40%;
    
}
#email{
    
    width: 30%;
   
}

#flex-container1{
    display: flex;
 
}
#flex-container2{
 margin-top: -25vw;
 margin-bottom: 5vw;
 margin-left: 19vw;
}
#guidetext{
 width: 85%;
}
#timelineposter{
    margin:auto;
    width: 45%;
    display: block;
   }
.logo{
    width: 30%;
    display: flex;
}
.nav li a{
    display:inline-flex;
    list-style-type: none;
  }

p{
    text-decoration:none;
    color: #363795;
    font-family: 'NeueHaasGrotesk';
    
}
@media only screen and (max-width: 1080px){
    .logo{
       width: 50%;
    }
}
hr{
    color: #363795;
    margin-bottom: 2vw;
    margin-left: 0px;
}
#guide{
width: 28%;
height: 25%;
margin-left: 10vw;
margin-right: 5vw;
}
#video{
    width: 42%;
    margin-left: 4vw;
}

h2{
    font-family: 'NeueHaasGrotesk';
    text-decoration:none;
    color: #363795;
    margin-left: 5vw;
    font-size: xx-large;

}
footer{
    text-align: center;
    color: #363795;
    font-size: 1vw;
    margin-top: 10vw;
}
@media only screen and (max-width: 1080px){
    footer{
        font-size: 2.25vw;
        margin-bottom: 3vw;
    }
}