@font-face {
    font-family: 'NeueHaasGrotesk';
    src: url(NeueHaasGrotesk.otf);
    font-size: 5vw;
}  
a{
    text-decoration:none;
    color: #363795;
    font-family: 'NeueHaasGrotesk';
    font-weight: bold;
}
#flex-container{
    display: flex;
    padding-right: 5vw;
}
p{
    font-size: 1.25vw;
    text-align: center;
    margin-top: 5vw;
    margin-right:14vw;
    margin-left:14vw;
}
.nav{
    display: inline-flex;
    margin: auto;
}
.logo{
    display: inline;
    width: 30%;
}
#flex-container{
    display: inline-flex;

}
#insta{
    width: 40%;
    
}
#email{
    
    width: 30%;
   
}

p{
    text-decoration:none;
    color: #363795;
    font-family: 'NeueHaasGrotesk';
    
}
@media only screen and (max-width: 1080px)
    .logo{
       width: 50%;
    }

hr{
    color: #363795;
    margin-bottom: 2vw;
    margin-left: 0px;
}
#stamps{
    width: 105%;
    margin: auto;
}
#flex-container1{
    display: inline-flex;
    margin-top: 5vw;

}
#composium{
    width: 35%;
    margin: auto;
}
#poster{
    width: 32%;
    margin: auto;
}
h2{
    font-family: 'NeueHaasGrotesk';
    text-decoration:none;
    color: #363795;
    margin-left: 5vw;
    font-size: xx-large;

}
footer{
    text-align: center;
    color: #363795;
    font-size: 1vw;
    margin-top: 10vw;
}
@media only screen and (max-width: 1080px){
    footer{
        font-size: 2.25vw;
        margin-bottom: 3vw;
    }
}