@font-face {
    font-family: 'NeueHaasGrotesk';
    src: url(NeueHaasGrotesk.otf);
    font-size: 5vw;
}  
a{
    text-decoration:none;
    color: #363795;
    font-family: 'NeueHaasGrotesk';
    font-weight: bold;
}
nav{
    display: flex;
    justify-content: flex-end;
    margin: auto;
    margin-bottom: 5vw;
}
.logo{
    display: inline;
    width: 10%;
    padding: 2vw;
}
#flex-container{
    display: inline-flex;

}
#work{
    display: inline-flex;
    margin-top: 1vw;
    margin-right: 1vw;

}
#insta{
    width: 70%;
    margin-right: -15vw;
    
}
#email{
    width: 28%;
    margin-top: .15vw;
margin-right: -7vw;
   
}
#flex-container1{
    display: flex;

}
#flex-container2{
    display: inline-block;
    margin-top: -1vw;
    padding: 1vw;
}
p{
    text-decoration:none;
    color: #363795;
    font-family: 'NeueHaasGrotesk';
}
video{
    margin-left: 4vw;
    width: 35%;
 
}
#type{
    width: 90%;
    align-content: center;
    display: block;
    margin: auto;

}
#text{
    width: 90%;
    align-content: center;
    display: block;
    margin: auto;
    margin-top: 5vw;
}
#flex-container3{
    display: flex;
    margin: auto;
}
#queerhorizontal{
    width: 100%;
    margin-bottom: 6vw;
}
#desktop{
    width: 46%;
    margin-left: 4vw;
}
#mobile{
    width: 45%;
}
@media only screen and (max-width: 1080px){
    .logo{
       width: 50%;
    }
}
hr{
    color: #363795;
    margin-bottom: 2vw;
    margin-left: 0px;
}
#bio{
    font-size: 1.25vw;
}


h2{
    font-family: 'NeueHaasGrotesk';
    text-decoration:none;
    color: #363795;
    margin-left: 7vw;
}

footer{
    margin: 3vw;
    text-align: center;
    font-size: 1vw;
    display: flex;
    margin-top: 10avw;
   
}
#copyright{
    margin-top: 4vw;
    margin-left: 10vw;

}
#logofooter{
 width: 10%;
    margin-right: 20vw;
}
#contactfooter{
    justify-content: flex-end;
    margin-left: 20vw;
    margin-right: -10vw;
    margin-top: 3vw;
}
#instafooter{
    width: 10%;
}
#emailfooter{

    width: 10%;
 
   
}
@media only screen and (max-width: 1080px){
    footer{
        font-size: 2.25vw;
        margin-bottom: 3vw;
    }
}