@font-face {
    font-family: 'NeueHaasGrotesk';
    src: url(NeueHaasGrotesk.otf);
    font-size: 5vw;
}  
a{
    text-decoration:none;
    color: #363795;
    font-family: 'NeueHaasGrotesk';
    font-weight: bold;
}
#flex-container{
    display: flex;
}
nav{
    display: flex;
    margin: auto;
    margin-bottom: 5vw;
}
.logo{
    display: inline;
    width: 30%;
}
#flex-container{
    display: inline-flex;

}
#about{
    display: inline-flex;
    margin-top: 1vw;
    margin-right: 1vw;

}

#insta{
    width: 40%;
    
}
#email{

    margin-left:-3vw;
    width: 40%;
    margin-top: .25vw;

   
}
#flex-container1{
    display: inline-flex;
}
p{
    text-decoration:none;
    color: #363795;
    font-family: 'NeueHaasGrotesk';
    
}
@media only screen and (max-width: 1080px)
    .logo{
       width: 50%;
    }

hr{
    color: #363795;
    margin-bottom: 2vw;
    margin-left: 0px;
}
video{
    margin-left: 4vw;
    margin-right: 5vw;
    width: 35%;
}
#bio{

    font-size: 1.65vw;
    margin-right: 7vw;
}


h2{
    font-family: 'NeueHaasGrotesk';
    text-decoration:none;
    color: #363795;
    margin-left: 5vw;
    font-size: xx-large;

}
#work{
    display:flex;
    margin-left: 17vw;
    padding: 1vw;
}

#work2{
    display:flex;
    margin-left:17vw;
    margin-top: -2vw;
    padding: 1vw;
}

#work3{
    display:flex;
    margin-left:17vw;
    margin-top: -2vw;
    padding: 1vw;
}
#queer,#agdi, #timeline, #collage, #stamp, #murmur, #table, #ex, #objekt{
    margin: 1vw;
    width: 350px;
height: 350px;
}
footer{
    margin: 3vw;
    text-align: center;
    font-size: 1vw;
    display: flex;
    margin-top: 10avw;
   
}
#copyright{
    margin-top: 4vw;
    margin-left: 10vw;

}
#logofooter{
 width: 10%;
    margin-right: 20vw;
}
#contactfooter{
    justify-content: flex-end;
    margin-left: 20vw;
    margin-right: -10vw;
    margin-top: 3vw;
}
#instafooter{
    width: 10%;
}
#emailfooter{

    width: 10%;
 
   
}
@media only screen and (max-width: 1080px){
    footer{
        font-size: 2.25vw;
        margin-bottom: 3vw;
    }
}